

#contact-form {
    margin:10px;
    width: 300px;
    height: 400px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;   
}

textarea {
    resize: vertical;
}

.row {
    flex-wrap: wrap;
}

form {
    margin-top: 20px;
}

.form-control {
    outline: none;
    background-color: rgba(49, 66, 90, 0.521);
    width: 80%;
    margin:  5px;
    border-radius: 3px;
    border: 1px solid rgb(199, 191, 191);
    color: white;
}

.formInput::placeholder {
    color: white;
    opacity: 1;
}

.formInput:-ms-input-placeholder {
    color: white;

}  

.formInput::-ms-input-placeholder {
    color: white;
    
}

.submit-btn {
    letter-spacing: 1px;
    background-color: var(--primary);
    padding: 10px 20px;
    border: 4px solid var(--primary);
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none !important;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    transition: all 0.4s ease;
}

.button-contact-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.errorMessage {
    color: #ff4a57;
    font-size: 14px;
    margin: 10px;
    padding: 0;
}