.skills-page-container{
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: row;
}

.skills-page-body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
}

.study-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
}
.study-content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 10px;
    font-size: 20px;
}

.study-container-title{
    margin: 10px;
    font-size: 40px;
    font-weight: 900;
}

.study-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 160px;
    margin: 10px;
}

.my-skills-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    /* width: 1165px; */
    width: 500px;
    height: 150px;
}

.my-skills-title{
    margin: 15px;
    font-size: 40px;
    font-weight: 900;
}

.icon-skills{
    display: flex;
    flex-direction: row;
}

.html-icon, 
.css-icon, 
.javascript-icon, 
.react-icon{
    width: 60px;
    height: 60px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.html-icon:hover, .css-icon:hover, .javascript-icon:hover, .react-icon:hover{
    width: 65px;
    height: 65px;
    transition: all 0.4s ease;
}


@media screen and (max-width: 1290px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: row;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 100%;
        margin: 20px;
    }

    .my-skills-container{
        width: 900px;
    }
}

@media screen and (max-width: 1289px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: row;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 100%;
        margin: 20px;
    }

    .my-skills-container{
        width: 500px;
    }
}

@media screen and (max-width: 850px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: row;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 600px;
        margin: 20px;
        margin-top: 45px;
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 400px;
        height: 500px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin: 10px;
        font-size: 20px;
        width: 400px;
        height: 500px;
    }

    .study-icon{
        width: 120px;
        height: 100px;
    }

}

@media screen and (max-width: 800px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: row;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 700px;
        margin: 0px;
      
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 400px;
        height: 450px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
        margin: 10px;
        font-size: 18px;
        width: 400px;
        height: 400px;
    }

    .study-icon{
        width: 120px;
        height: 100px;
    }

    .my-skills-container{
        width: 300px;
    }

}

@media screen and (max-width: 750px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: row;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 700px;
        margin: 0px;
      
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 400px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: justify;
        margin: 10px;
        font-size: 16px;
        width: 350px;
        height: 500px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 35px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 35px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }

}

@media screen and (max-width: 720px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 600px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 18px;
        width: 650px;
        height: 550px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 550px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 35px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 35px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width: 659px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 600px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 18px;
        width: 650px;
        height: 550px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 550px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 35px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 35px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width: 595px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 500px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 18px;
        width: 400px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 500px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 35px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 35px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }
}

@media screen and (max-width: 550px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 500px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 18px;
        width: 400px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 450px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 30px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 30px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }

}

@media screen and (max-width: 520px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 450px;
        height: 400px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 18px;
        width: 450px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 420px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 28px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 28px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }

}

@media screen and (max-width: 460px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 420px;
        height: 380px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 17px;
        width: 420px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 420px;
    }

    .study-container-title{
        margin: 10px;
        font-size: 28px;
        font-weight: 700;
    }

    .my-skills-title{
    margin: 15px;
    font-size: 28px;
    font-weight: 700;
    }
    
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    }

}

@media screen and (max-width: 435px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 600px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 380px;
        height: 380px;
    }
    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 15px;
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 420px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 550px;
        margin: 0px; 
    }
    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 300px;
        height: 380px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 13px;
        width: 300px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 300px;
    }

}

@media screen and (max-width: 385px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 550px;
        margin: 0px; 
    }

    .study-icon{
      width: 80px;
      height: 80px;
    }

}

@media screen and (max-width: 385px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 550px;
        margin: 0px; 
    }
    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 300px;
        height: 380px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 13px;
        width: 300px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 300px;
    }

}

@media screen and (max-width: 385px){
    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 550px;
        margin: 0px; 
    }

    .study-icon{
      display: none;
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 300px;
        height: 350px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 15px;
        width: 300px;
        height: 450px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 280px;
    }

}

@media screen and (max-width: 375px){

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 250px;
        height: 350px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 15px;
        width: 250px;
    }

    .study-container-title{
        margin-right: 40px;
    }

    .p1, .p2, .p3, .p4, .p5, .p6{
        width: 240px;
    }

    .my-skills-container{
        width: 250px;
        margin-right: 60px;
    }

    .my-skills-title{
        margin: 15px;
        font-size: 28px;
        font-weight: 700;
    }
        
    .html-icon, 
    .css-icon, 
    .javascript-icon, 
    .react-icon{
        width: 40px;
        height: 40px;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    a{
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}

@media screen and (max-width: 330px){

    .skills-page-container{
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-direction: column;
    }

    .skills-page-body-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 550px;
        margin: 0px; 
    }

    .study-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: white;
        width: 250px;
        height: 350px;
    }

    .study-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: start;
        margin: 10px;
        font-size: 15px;
        width: 200px;
    }

}






